<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Добавить нового пользователя</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="~{navigation :: navigation(Users)}"></div>
<h1>Добавить нового пользователя</h1>
<form th:action="@{/users/new}" th:object="${user}" method="POST">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Name</label>
            <input type="text" th:field="*{username}" class="form-control mb-2" id="inlineFormInput" placeholder="Имя">
        </div>
        <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Password</label>
            <input type="password" th:field="*{password}"  class="form-control mb-2" id="inlineFormInput1" placeholder="Пароль">
        </div>
        <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Matching password</label>
            <input type="password" th:field="*{matchingPassword}"  class="form-control mb-2" id="inlineFormInput2" placeholder="Повторите пароль">
        </div>
        <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Email</label>
            <input type="email" th:field="*{email}"  class="form-control mb-2" id="inlineFormInput3" placeholder="Email">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Сохранить</button>
        </div>
    </div>
</form>
<br>
</body>
</html>